<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header" style="background-color: #ffffff;">
                <h3 class="text-uppercase text-center p-4">Administración de Shake Shack</h3>
                <img class="card-img-top mx-auto" src="/img/logo.jpeg" alt="Logo" style="width: 450px;display:block;">
            </div>
            <div class="card-body text-center">
                <p class="m2">Sistema de administración del sitio web shakeshack.com.mx</p>
                <a href="/add" class="btn" style="background-color: #72AD54; color: #ffffff">Crear hamburguesas</a>
                <a href="/list" class="btn" style="background-color: #72AD54; color: #ffffff">Administrar Hamburguesas</a>
                <a href="/add-user" class="btn" style="background-color: #72AD54; color: #ffffff">Crear Usuarios</a>
                <a href="/list-user" class="btn" style="background-color: #72AD54; color: #ffffff">Administrar Usuarios</a>
            </div>
        </div>
    </div>
</main>